@{
    ViewData["Title"] = "Sobre el Proyecto";
}
<h2>@ViewData["Title"]</h2>


<p>
    Este Proyecto fue realizado por Jeisson Damian Becerra Rodriguez y Juan Sebastian Muños Reyes.
</p>

<p>
    Se utilizo lenguaje C# y Xamarin para la elaboración de este proyecto, 
    asi como tambien el uso de etiquetas Xaml, base de datos, patron de arquitectura MVVM.

    La publicacion de Shop Web fue realizada en azure como una API publica que permite la 
    conexión con base de datos y con el aplicativo en Xamarin para el correcto manejo y gestion 
    de datos que en este caso son Productos.
</p>