@{
    ViewData["Title"] = "Contacto";
}
<h2>@ViewData["Title"]</h2>


<address>
    Shop Web<br />
    Seminario de aplicativos .NET<br />
    <abbr title="Phone">P:</abbr>
    315 698 9874
</address>

<address>
    <strong>Support:</strong> <a href="mailto:Support@example.com">shop.web@gmail.com</a><br />    
</address>
