@{
    ViewData["Title"] = "Home Page";
}

<div id="myCarousel" class="carousel slide" data-ride="carousel" data-interval="6000">
    <ol class="carousel-indicators">
        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
        <li data-target="#myCarousel" data-slide-to="1"></li>
        <li data-target="#myCarousel" data-slide-to="2"></li>
    </ol>
    <div class="carousel-inner" role="listbox">
        <div class="item active">
            <img src="~/images/app.png" alt="ASP.NET" class="img-responsive" />
            <div class="carousel-caption" role="option">
                <p>                    
                    <a class="btn btn-warning" href="http://shopproyecto.azurewebsites.net/Products">
                        Learn More
                    </a>
                </p>
            </div>
        </div>
        <div class="item">
            <img src="~/images/compra.jpg" alt="Visual Studio" class="img-responsive" />
            <div class="carousel-caption" role="option">
                <p>
                    <a class="btn btn-primary" href="http://shopproyecto.azurewebsites.net/Product">
                        Learn More
                    </a>
                </p>
            </div>
        </div>
        <div class="item">
            <img src="~/images/descuento.jpg" alt="Microsoft Azure" class="img-responsive" />
            <div class="carousel-caption" role="option">
                <p>                    
                    <a class="btn btn-primary" href="http://shopproyecto.azurewebsites.net/Product">
                        Learn More
                    </a>
                </p>
            </div>
        </div>
    </div>
    <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
        <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
    </a>
    <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
        <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
    </a>
</div>

<div class="row">
    <div class="col-md-3">
        <h2>Quienes Somos</h2>
        <ul>
            <li>
                Somos una empresa dedicada a la venta online. Nuestro objetivo es ofrecer articulos a los mejores precios.
                Tenemos a su disposición una gran variedad de productos, los cuales son renovados cada temporada para dar siempre el mejor servicio.
                Tenemos un equipo que está dedicado a satisfacer tus necesidades y que te contestará a tus dudas con la mayor brevedad posible.
                Para una mejor comunicación puedes contactar con nosotros a través de WhatsApp o mensaje privado de Facebook y tan sólo en unos minutos tu duda será resuelta.
            </li>            
        </ul>
    </div>
    <div class="col-md-3">
        <h2>Compra Facil y Rapido</h2>
        <ul>
            <li>Busca tu producto en el catalogo de la ventana Productos.
                Filtra por busqueda el Producto que necesitas.
            </li>
            <li>Una vez que hayas encontrado tu producto, puedes ver el detalle, agregarlo a una lista para comprarlo más tarde, 
                o agregarlo al carrito directamente desde el listado clickeando en el menu Ordenes.
            </li>
            <li>Confirma tu compra cuando tengas todos los productos que desees.</li>            
        </ul>
    </div>
    <div class="col-md-3">
        <h2>Conoce nuestra App</h2>
        <ul>
            <li>Realiza compras desde nuestra App Disponible para Android y par iOS.</li>
            
        </ul>
    </div>
    <div class="col-md-3">
        <h2>Términos y Condiciones</h2>
        <ul>
            <li>El cliente entiende y acepta que antes de realizar una compra a través de 
                Shop Web ha leído y está de acuerdo con los términos y condiciones descritos en este documento. 
            </li>
            
        </ul>
    </div>
</div>
